{% extends "badminton/layout.html" %}
{% block content %}
    <table class="table table-hover table-bordered">
        <thead>
            <tr>
                <th>name</th>
                <th>telephone</th>
            </tr>
        </thead>
        <tbody>
            {% for minton in minton_list %}
            <tr>
                <td>
                    <a href="/badminton/{{ minton.pk }}">
                        {{ minton.name }}
                    </a>

                </td>
                <td>
                    <a href="tel:{{ minton.telephone }}">
                        {{ minton.telephone }}
                    </a>

                </td>
            </tr>
            {% endfor %}
        </tbody>

    </table>

{% endblock %}