{% extends 'mintonplace/layout.html' %}

{% block content %}
    <table class="table table-hover table-bordered">
        <thead>
        <tr>
            <th>
                <h2>{{ post.name }}</h2>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>
                <img src="{{ post.photo.url }}" alt="{{ post.name }}">
                {{ post.description|linebreaks }}
            </td>
        </tr>
        <tr>
            <td>
                {% if post.parking %}
                    주차장 있음
                {% else %}
                    주차장 없음
                {% endif %}
            </td>
        </tr>
        <tr>
            <td>
                {{ post.created_at|timesince }}전에 등록
            </td>
        </tr>
        <tr>
            <td>
                <h2>리뷰s</h2>
                <ul>
                    {% for review in review_list %}
                        <li>
                            {{ review.message }} by {{ review.author_name }} at {{ review.created_at }}
                            <a href="{% url 'mintonplace:review_edit' post.pk review.pk%}" class="badge bg-warning"
                               style="margin-bottom: 1em;">댓글수정하기</a>
                        </li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        </tbody>
    </table>
    <a href="{% url 'mintonplace:post_list' %}" class="btn btn-primary" style="margin-bottom: 1em;">목록으로</a>
    <a href="{% url 'mintonplace:post_edit' post.pk %}" class="btn btn-primary" style="margin-bottom: 1em;">수정하기</a>
    <a href="{% url 'mintonplace:review_new' post.pk %}" class="btn btn-primary" style="margin-bottom: 1em;">댓글쓰기</a>
{% endblock %}

