{% extends 'shop/layout.html' %}
{% load bootstrap5 %}
{% block content %}

    <div class="row mt-3">
        <div class="col-sm-8">
            <form action="" method="get">
                <input type="text" name="query" value="{{ request.GET.query }}"/>
                <input type="submit" value="검색">
            </form>
            <ul>
                {% for shop in shop_list %}
                    <li><a href="{% url 'shop:shop_detail' shop.pk %}">{{ shop.name }}</a></li>
                {% endfor %}
            </ul>
            <a href="{% url 'shop:shop_new' %}" class="btn btn-primary">새로 작성</a>
        </div>
        <div class="col-sm-4">
            <ul>
                <li><a href="?category_id=">전체</a></li>
                {% for category in category_list %}
                    <li><a href="?category_id={{ category.pk }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

{% endblock %}